html {
	background-image: url(http://i.imgur.com/A2PMjCS.jpg?1);
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	font-family: 'Amatic SC', cursive;
}

ul {
	list-style: none;
}

li {
	display: inline;
	padding: 50px;
	font-size: 2em;

}
a {
	color: white;
}

#nav {
	float: right;
	margin-top: -60px;
	font-family: 'Amatic SC', cursive;
	
}
#nav a {
	text-decoration: none;
}
body {
	margin-left: 50px;
	padding-top: 50px;
}
 div p {
	display: inline-block;
	margin: 0px 5px 10px 5px;
	background-color: white;
	opacity: .5;
	width: 250px;
	height: 100px;
	color: black;
	font-size: 20px;
	text-align: center;
	vertical-align: center;
	padding: 20px 20px 20px 20px;
	font-family: 'Amatic SC', cursive;
}

.animatedtada {
	animation-duration: 4s;
    animation-iteration-count: infinite;
}
.first {
	height: 200px;
	width: 1200px;
	text-align: center;
	vertical-align: top;
}
.middle {
	height: 200px;
	width: 1200px;
	vertical-align: top;
}
.last {
	height: 200px;
	width: 1200px;
	vertical-align: top;
	margin-bottom: 0;
}
img {
	float: right;
	margin-top: -55px;
	margin-right: -55px;
}
