body {
      background:#2d3b36 url(http://i.imgur.com/fak0ylj.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: "paralucent",sans-serif
}
#images {
    background-color: rgba(255,255,255,.75);
    width: 1200px;
    margin: 120 auto;
    padding: 10px;

}

 #images img {
    margin: 50px;
    width: 500px;
    display: block;
    margin-left: 350px;
    border-radius: 35px;
 
}
a {
    text-decoration: none;
    color: #FF884D;
}
a:visited {
    text-decoration: none;
    color: #FF884D;
}

.nav{
    float: right;
    font-family: "azote",sans-serif;
    font-size: 30px;
    margin-right: 25px;

}

li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    margin-top: -50px;
}

h1 {
    width: 550px;
    font-size: 3.5em;
    margin-left: 50px;
    text-shadow: -2px -2px 2px rgba(150, 150, 150, 1);
    margin-top: 50px;
    border-bottom: 5px solid #FF884D;
    color: #FF884D;
    -webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
h1:hover {
-webkit-transform: skew(0deg,20deg);
transform: skew(0deg,20deg);
}

  .animated tada{
  webkit-animation-duration: 3s;
  webkit-animation-delay: 2s;
  webkit-animation-iteration-count: 3;
}

#bird{
    margin-left: 200px;
    margin-top: -200px;
}
.animated swing{
    animation: infinite;
}